#helloPanel {
    border: 1px rgb(189, 119, 119) dashed;
}

.plugin-sample {
    &__custom-tab {
        background-color: var(--b3-theme-background);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__custom-dock {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__time {
        background: var(--b3-card-info-background);
        border-radius: 4px;
        padding: 2px 8px;
    }
}



    //this css were ported from these repos:
    //此css从如下仓库移植
    //https://github.com/mdzz2048/siyuan-plugin-hsr by mdzz2048
    //idea from https://github.com/TCOTC/siyuan-plugin-hsr-mdzz2048-fork by TCOTC AKA JerffreyChen
    //谢谢!!!💓💓💓

// .highlight-search-result {
//     position: abslute;
//     top: 135px;
//     right: 10px;
// }

::highlight(blocked_text) {
    background-color: black;
    color: transparent;
}

// ::highlight(search-focus) {
//     background-color: black;
//     color: transparent;
// }